.top{
    width: 100%;
    height:40px;
    background-color: skyblue;
} 
.a{
list-style: none;
text-decoration: none;
float: left;
font-size: 1rem;
color: white;
text-align: center;
margin-top: 0.5rem;
margin-left: 3rem;
}
.span{
list-style: none;
text-decoration: none;
float: left;
font-size: 1rem;
color: white;
text-align: center;
margin-top: 0.5rem;
margin-left: 2rem;
}
a:hover {
          color:red;
        }    
.logo{
    margin-top: 1rem;
    margin-left: 10rem;
    height: 55px;
    width: 55 px;
    float: left;
    background-color: #ff7e79;
}
/*区域设置宽带，自动间距*/
.centre{
    width: 100%;
    margin: 0 auto;

       }
/*搜索框*/
.search-box{
    border: 2px solid skyblue;
    width: 15rem;
    height: 2rem;
    margin-top: 1.4rem;
    margin-left: 10rem;
    font-size: 1.2rem;
}
/*提交键*/
.serach_submit{
    height: 2rem;
    width: 4rem;
    margin-top: 1.1rem;
    margin-left: 1rem;
    font-size: 1rem;
    background-color: red;
}
.span2{
    float: left;
    margin-left: 10rem;
    margin-top: 1em;
    color: orange;
}


    * {
    	margin: 0;
    	padding: 0;
    	list-style: none;
    }
    
    .good-list {
    	width: 700px;
    	height: 220px;
    }
    
    .good-list li {
    	float: left;
    	width: 140px;
    	height: 160px;
    }
    
    .good-list li:hover {
    	cursor: pointer;
    }
    .good-list img {
    	height: 140px;
    	width: 140px;
    }
    
    .good-list p {
    	text-align: center;
    }
    
    .good-name {
    	font-size: 14px;
    }
    
    .good-pice {
    	font-size: 12px;
    	color: red;
    }
    .shopping{
    	width: 700px;
      
    }
    .shopping table{
    	width: 100%;
    }
    /*.shopping input[type="checkbox"]{display: inline-block;}*/
    .number{
    	display: inline-block;
    	font-size: 14px;
    	width: 35px;
    	line-height: 120%;
    	border-left:1px solid #ddccdd;
    	border-right:1px solid #ddccdd;
    }
    .number-bt{
    	display: inline-block;
    	font-size: 18px;
    	border: 0;
    	width: 20px;
    	background: none;
    }
    .goodNumber{
    	height: 30px;
    	border-radius: 4px;
    	border: 1px solid #ddccdd;
    }
    #pay{
    	width: 60px;
    	height: 30px;
    	border: none;
    	background-color: #FF3333;
    	border-radius: 20px;
    	margin: 5px 0 5px 0;
    }
    #deleteAll{
    	width: 60px;
    	height: 30px;
    	font-size: 12px;
    	font-family: "blackadder itc";
    	background:none;
    	border: 1px solid #FF3300;
    	border-radius: 20px;
    	margin-left:5px ;
    }
    #tb{
    	border-radius:3px ;
    	background-size: 100%;
    	background-image: url(img/bgi.jpg);
    	background-position-y: -70px;
        margin-bottom: 10px;
    }
    #tb img{
    	margin-top: 5px;
    }
    #tb input[type="checkbox"]{
    	display: inline-block;
    	background-color: #FF33000;
    	border-radius: 100px;
    	}
    button{
    	background: none;
    	border: none;
    }



.p1{
    float: left;
    font-size: 16px;
    text-align: center;
}
.p1 a{
    text-decoration: none;
    color: gray;
}
.p1 a:hover{
   color:orange;
}
.footer{
    margin-top: 10PX;
    width: 100%;
    height:80px;
    text-align: center;
    background-color: gray;
} 
.font{
    float: left;
    margin-top: 20px;
    margin-left: 125px;
    font-size:20px;
    color: white;
}